---
import Layout from "src/components/layout.astro";
import Header from "src/components/header.astro";

let posts = [];

try {
  const rawPosts = await Astro.glob("../../../data/posts/*.md");
  posts = rawPosts.map((post) => {
    // get slug from file path
    const uid = post.file.split("/").at(-1).slice(0, -3);

    return {
      uid,
      ...post.frontmatter,
    };
  });
} catch {}
---

<Layout pageTitle="posts of tom">
  <Header actualPath="posts/edit" />

  <ul style="list-style:none;padding:0;text-align:center">
    <li style="margin-bottom:1.5em">
      <p style="text-align:center">
        <button onclick="addNewItem(event)">add new item</button>
      </p>
    </li>
    {posts.map((post) => {
      return (
        <li>
          <p>
            {post.title} &middot;&nbsp;<a href={`./${post.slug}/edit`}>edit</a>
          </p>
        </li>
      )
    })}
  </ul>
</Layout>

<script>
  globalThis.addNewItem = (event) => {
    event.target.textContent = "loading...";
    event.target.setAttribute("disabled", "");
    globalThis
      .plz(`/posts/new`, {})
      .then((response) => {
        return response.json();
      })
      .then((data) => {
        if (data.uid) {
          window.location.href = "./" + data.uid + "/edit";
        }
      })
      .catch(() => {});
  };
</script>

<style lang="scss">
  .post-wrapper {
    display: flex;
    flex-direction: column;

    .post {
      flex: 1 0 auto;
    }

    > * {
      width: 100%;
    }
  }
</style>
