@font-face {
  font-family: 'SF';
  font-style: normal;
  font-weight: 300;
  src: url("sf/300.woff2") format("woff2"), url("sf/300.woff") format("woff");
}
@font-face {
  font-family: 'SF';
  font-style: normal;
  font-weight: 400;
  src: url("sf/400.woff2") format("woff2"), url("sf/400.woff") format("woff");
}
@font-face {
  font-family: 'SF';
  font-style: normal;
  font-weight: 500;
  src: url("sf/600.woff2") format("woff2"), url("sf/600.woff") format("woff");
}
@font-face {
  font-family: 'SF';
  font-style: normal;
  font-weight: 600;
  src: url("sf/600.woff2") format("woff2"), url("sf/600.woff") format("woff");
}
@font-face {
  font-family: 'SF';
  font-style: normal;
  font-weight: 700;
  src: url("sf/600.woff2") format("woff2"), url("sf/600.woff") format("woff");
}
