---
import Layout from "src/components/layout.astro";
import Header from "src/components/header.astro";
import { Markdown } from "astro/components";

export const getStaticPaths = async () => {
  let portfolios = [];
  try {
    portfolios = await Astro.glob("../../../../data/portfolio/*.md");
  } catch {}
  return portfolios.map((portfolio) => {
    console.log(portfolio);
    return {
      params: { slug: portfolio.frontmatter.slug },
      props: {
        portfolio: {
          ...portfolio.frontmatter,
          uid: portfolio.file.split("/").at(-1).slice(0, -3),
          markdown: portfolio.rawContent(),
        },
      },
    };
  });
};

const { portfolio } = Astro.props;
---

<Layout pageTitle={`${portfolio.title} · tom`}>
  <Header actualPath={`portfolio/${portfolio.slug}`} />

  <h1>{portfolio.title}</h1>

  <article id="portfolio">
    <Markdown content={portfolio.markdown}>

    </Markdown>
  </article>
</Layout>
<script>
  document
    .querySelectorAll(
      "#portfolio>h1,#portfolio>h2,#portfolio>h3,#portfolio>h4,#portfolio>h5,#portfolio>h6"
    )
    .forEach(function (el) {
      const newNode = document.createElement("a");
      newNode.setAttribute("href", "#" + el.getAttribute("id"));
      newNode.innerText = "#";
      el.insertBefore(newNode, el.firstChild);
    });
</script>
<style>
  article :global(h1, h2, h3, h4, h5, h6) {
    position: relative;
  }
  article
    :global(h1 > a:first-child, h2 > a:first-child, h3 > a:first-child, h4
      > a:first-child, h5 > a:first-child, h6 > a:first-child) {
    display: none;
  }
  article
    :global(h1:hover > a:first-child, h2:hover > a:first-child, h3:hover
      > a:first-child, h4:hover > a:first-child, h5:hover
      > a:first-child, h6:hover > a:first-child) {
    width: calc(100% + 1em);
    height: 1em;
    top: 0;
    right: 0;
    display: inline-block;
    position: absolute;
  }
</style>
