---
import Layout from "src/components/layout.astro";
import Header from "src/components/header.astro";
import { Markdown } from "astro/components";

export const getStaticPaths = async () => {
  let portfolios = [];
  try {
    portfolios = await Astro.glob("../../../../data/portfolio/*.md");
  } catch {}
  return portfolios.map((portfolio) => {
    return {
      params: { slug: portfolio.frontmatter.slug },
      props: {
        portfolio: {
          ...portfolio.frontmatter,
          uid: portfolio.file.split("/").at(-1).slice(0, -3),
          markdown: portfolio.rawContent(),
        },
      },
    };
  });
};

const { portfolio } = Astro.props;
---

<Layout pageTitle={`${portfolio.title} · tom`}>
  <Header actualPath={`portfolio/${portfolio.slug}`} />

  <h1>{portfolio.title}</h1>

  <article class="auto">
    <Markdown content={portfolio.markdown}>

    </Markdown>
  </article>
</Layout>
