.HomeJumbotron.Jumbotron {
  .App-row-title {
    font-size: 64px;

    @media (max-width: 960px) {
      font-size: 7vw;
    }
  }

  .App-row-sizer {
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 0;
  }
}

#design-film-link {
  font-size: 22px;
  font-weight: 300;
  line-height: 1.45455;

  letter-spacing: .016em;

  @media (max-width: 480px) {
    font-size: 18px;
  }
}

.chevron-icon {
  display: inline-block;
  vertical-align: -4px;
}

.HomeJumbotron-stand {
  max-width: 60%;
}
