#design-film-link {
  font-size: 22px;
  font-weight: 300;
  line-height: 1.45455;

  letter-spacing: .016em;
}

.chevron-icon {
  display: inline-block;
  vertical-align: -4px;
}

.jumbotron-laptop-image-sizer-outer {
  padding: 0 20px;
}

.jumbotron-laptop-image-sizer-inner {
  position: relative;

  padding: 94.775% 0 0;

  user-select: none;
}

.jumbotron-laptop-image {
  position: absolute;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;

  transition: opacity .5s ease-in-out, transform .5s ease-in-out;
}

.jumbotron-laptop-image-screen {
  position: absolute;
  top: 3%;
  left: 2.3%;

  width: 95.4%;
  height: 30%;
}

.jumbotron-laptop-image-screen > canvas {
  position: absolute;
  z-index: -9999;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;

  transition: opacity .5s ease-in-out;

  opacity: 0;
}
