---
import Layout from "../components/layout.astro";
---

<Layout pageTitle="portfolio of ">
  <h1 style="text-align:center">portfolio of <a href=".">tom</a></h1>
  <p style="text-align:center">
    <a href="./cv">cv</a>
    &middot; portfolio &middot; <a href="./posts">posts</a>
  </p>
  <ul style="list-style:none;padding:0;text-align:center">
    <li>
      <!-- <p><a href="">running a hackathon at 10 downing street</a></p> -->
      <!-- <p><a href="">that time i created emojis to bail out boris</a></p> -->
      <p>
        <a href="">discovering that media queries don't work in your browser</a>
      </p>
      <p><a href="">developing a css compression algorithm</a></p>
      <p><a href="">releasing a grocery delivery app during a pandemic</a></p>
      <p><a href="">visualising the price of human life</a></p>
      <p><a href="">reverse-engineering apple's website</a></p>
      <p>
        <a href="">inverting bookmakers margins on footballers changing club</a>
      </p>
      <p>
        <a href="">working at shipt during it's $550m acquistion by target</a>
      </p>
      <p>
        <a href="">my first big website: a student newspaper</a>
      </p>
    </li>
  </ul>
</Layout>
