---
import Layout from "src/components/layout.astro";
import Header from "src/components/header.astro";
---

<Layout pageTitle="experiments of tom">
  <Header actualPath="experiments" />

  <ul style="list-style:none;padding:0;text-align:center">
    <li>
      <p>
        <a href="./experiments/media-query-playground"
          >media query playground
        </a>
      </p>
    </li>
    <li>
      <p>
        <a
          href="./experiments/100-days-of-recruiters-uk"
          set:text="100 days of recruiters"></a>
        {" "}
        <a href="./experiments/100-days-of-recruiters-uk" set:text={"(uk)"}></a>
        {" "}
        <a href="./experiments/100-days-of-recruiters-us">(us)</a>
      </p>
    </li>
    <li>
      <p>
        <a href="./experiments/evolution-of-football">evolution of football</a>
      </p>
    </li>
    <li>
      <p>
        <a href="./experiments/house-in-london">house in london</a>
      </p>
    </li>
  </ul>
</Layout>
