.HomeJumbotron.Jumbotron {
  .App-row-title {
    font-size: 64px;

    @media (max-width: 960px) {
      font-size: 7vw;
    }
  }

  .App-row-sizer {
    padding-left: 0;
    padding-right: 0;
  }
}

.HomeJumbotron-title-frag {
  display: inline-block;
  white-space: pre;
  overflow: hidden;
}

#design-film-link {
  font-size: 22px;
  font-weight: 300;
  line-height: 1.45455;
  letter-spacing: 0.016em;
}

.chevron-icon {
  display: inline-block;
  vertical-align: -4px;
}

.HomeJumbotron-square-outer {
  margin: 0 auto;
  padding: 0 24px;
  width: 100%;
  max-width: 600px;

  .HomeJumbotron-square-inner {
    position: relative;
    height: 0;
    padding: 100% 0 0;
  }

  .HomeJumbotron-square {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #000;
    border-radius: 4%;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.5);
  }
}
