---
const { name } = Astro.props;
let content = "";
try {
  const posts = await Astro.glob("../../data/sections/*.md");
  content = posts
    .find(({ file }) => file.endsWith(`${name}.md`))
    .compiledContent();
} catch (error) {
  console.error(error);
}
---

<div set:html={content}></div>
