.tag-group {
  padding: 0;
  margin: 12px 12px 0 0;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  user-select: none;
  max-width: 100%;
}

.tag-group-name {
  display: inline-block;
  padding: 24px 20px 24px 0;
  color: #999;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: .3ex;
  font-size: 70%;
}

.tag-container {
  display: inline;
}

.tag-container.has-children.active {
  order: 9999;
}

.tag {
  background: #eee;
  display: inline-block;
  padding: 12px 20px;
  cursor: pointer;
  white-space: nowrap;
  line-height: 30px;
}

.tag:hover,
.tag:focus {
  position: relative;
}

.tag:focus {
  z-index: 2;
}

.tag:hover::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,.05);
}

.active > .tag {
  color: #000;
  background-color: #ccc;
}

.active > .tag:hover::after {
  background-color: rgba(255,255,255,.2);
}

.tag-children {
  display: none;
}

.active > .tag-children {
  display: inline;
}

@media (max-width: 735px) {
  .Experience-block .Columns > .Columns-column:first-child {
    align-self: flex-start;
  }

  .Experience .Experience-block .App-row-sizer {
    padding: 24px 0 24px 24px;
  }
}
