.Experience-jumbotron {
  height: 65vh;
}

.Experience-style-buttons {
  padding: 4px 8px;
  margin: 0 4px 4px 0;
  background: #eee;
  font-weight: 500;

  &.active {
    background: #bbb;
    color: #000;
  }
}

.Experience {
  pre {
    background: #eee;
    max-width: 100%;
    overflow-x: auto;
    overflow-y: hidden;
    line-height: 1.2;
    font-size: 16px;
    letter-spacing: 0;
    box-shadow: -8px -8px 0 #eee, 8px -8px 0 #eee, -8px 8px 0 #eee, 8px 8px 0 #eee;
  }
}

@media (max-width: 735px) {
  .Experience .App-row-sizer {
    padding: 24px;
  }
}
