.Columns {
  display: flex;

  padding: 20px 0;

  flex-wrap: wrap;
}

.Columns-column {
  max-width: 100%;
  padding: 20px 12px;

  text-align: center;

  flex: 1 0 auto;
}

@media (max-width: 735px) {
  .Columns-column {
    padding: 20px 24px 20px 0;

    text-align: left;
  }
}
