.Footer {
  position: relative;

  font-size: 11px;
  font-weight: 400;
  line-height: 1.45455;

  text-align: left;
  letter-spacing: .005em;

  color: #888;
  background-color: #f2f2f2;
}

.Footer::after {
  content: '';
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;

  background-color: inherit;
}

.Footer * {
  font: inherit;
}

.Footer > .App-row-sizer {
  padding: 22px 22px 28px;
}

.Footer-top {
  padding: 0 0 10px;
  margin: 0 0 10px;
  border-bottom: 1px solid #d6d6d6;

  .Columns {
    padding: 0;
  }
}

.Footer-top .Columns-column {
  padding: 20px 24px 20px 0;
  text-align: left;
  flex-basis: 0;
  min-width: 120px;
  word-break: break-word;

  > :first-child {
    color: #333;
    font-weight: 600;
    letter-spacing: -.008em;
  }

  > :not(:first-child) {
    margin-top: 1.4ex;

    a {
      color: #555;

      &:hover {
        color: #333;
      }
    }
  }
}

@media (max-width: 767px) {
  .Footer > .App-row-sizer {
    padding: 16px 16px 22px;
  }
}