.Gallery {
  padding: 6px 0;
}

.Gallery * {
  max-width: 100%;
}

.Gallery-text {
  padding: 52px;
}

.Gallery-item {
  position: relative;

  overflow: hidden;

  text-align: center;

  background-color: #f2f2f2;
}

.Gallery .Gallery-item {
  margin: 6px 0;
}

.Gallery-row {
  display: flex;

  margin: 0 6px;
}

.Gallery-row .Gallery-item {
  margin-right: 6px;
  margin-left: 6px;

  flex: 1 0 0;
}

.Gallery-item .Gallery-image-container {
  max-width: var(--row-container-max-width);
  margin: 0 auto;
}

.Gallery-item .Gallery-image-background-container {
  position: absolute;
  z-index: 1;
  left: 50%;
  max-width: var(--row-container-max-width);
  width: 100%;
  height: 100%;
  transform: translate3d(-50%, 0, 0);
}

.Gallery-row .Gallery-item .Gallery-image-container {
  max-width: calc(0.6 * var(--row-container-max-width));
}

.Gallery-row .Gallery-item .Gallery-image-background-container {
  max-width: calc(0.6 * var(--row-container-max-width));
}

.Gallery-item .Gallery-image-background {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: auto;
}

.Gallery-item .Gallery-image {
  position: relative;
  z-index: 2;
  width: 100%;
}

.Gallery-item .Gallery-title {
  font-size: 56px;
  font-weight: 600;
  line-height: 1.07143;

  letter-spacing: -.005em;
}

.Gallery-row .Gallery-item .Gallery-title {
  font-size: 40px;
  font-weight: 600;
  line-height: 1.1;

  letter-spacing: 0;
}

.Gallery-item .Gallery-description {
  font-size: 27px;
  font-weight: 400;
  line-height: 1.14815;

  margin-top: .5ex;

  letter-spacing: .008em;
}

.Gallery-row .Gallery-item .Gallery-description {
  font-size: 21px;
  font-weight: 400;
  line-height: 1.2381;

  letter-spacing: .016em;

  color: #333;
}

@media (max-width: 1068px) {
  .Gallery-item .Gallery-title {
    font-size: 44px;
    line-height: 1.09091;

    letter-spacing: -.002em;
  }

  .Gallery-row .Gallery-item .Gallery-title {
    font-size: 32px;
    line-height: 1.125;

    letter-spacing: .004em;
  }

  .Gallery-item .Gallery-description {
    font-size: 24px;
    line-height: 1.16667;

    letter-spacing: .009em;
  }

  .Gallery-row .Gallery-item .Gallery-description {
    font-size: 19px;
    line-height: 1.21053;

    letter-spacing: .012em;
  }
}

@media (max-width: 735px) {
  .Gallery .Gallery-text {
    padding: 52px 16px;
  }

  .Gallery .Gallery-row {
    margin-right: 0;
    margin-left: 0;

    flex-wrap: wrap;
  }

  .Gallery .Gallery-row .Gallery-item {
    min-width: 100%;
    margin-right: 0;
    margin-left: 0;

    flex-basis: auto;
  }

  .Gallery .Gallery-item .Gallery-title {
    font-size: 32px;
    line-height: 1.125;

    letter-spacing: .004em;
  }

  .Gallery .Gallery-item .Gallery-description {
    font-size: 19px;
    line-height: 1.21053;

    letter-spacing: .012em;
  }
}
