abbr::before {
  content: "abbr";
  display: block;
  background: #ccc;
  color: #999;
  padding: 4px;
  position: absolute;
  transform: translate(-100%, -100%);
}
acronym::before {
  content: "acronym";
  display: block;
  background: #ccc;
  color: #999;
  padding: 4px;
  position: absolute;
  transform: translate(-100%, -100%);
}
address::before {
  content: "address";
  display: block;
  background: #ccc;
  color: #999;
  padding: 4px;
  position: absolute;
  transform: translate(-100%, -100%);
}
applet::before {
  content: "applet";
  display: block;
  background: #ccc;
  color: #999;
  padding: 4px;
  position: absolute;
  transform: translate(-100%, -100%);
}
aside::before {
  content: "aside";
  display: block;
  background: #ccc;
  color: #999;
  padding: 4px;
  position: absolute;
  transform: translate(-100%, -100%);
}
audio::before {
  content: "audio";
  display: block;
  background: #ccc;
  color: #999;
  padding: 4px;
  position: absolute;
  transform: translate(-100%, -100%);
}
b::before {
  content: "b";
  display: block;
  background: #ccc;
  color: #999;
  padding: 4px;
  position: absolute;
  transform: translate(-100%, -100%);
}
big::before {
  content: "big";
  display: block;
  background: #ccc;
  color: #999;
  padding: 4px;
  position: absolute;
  transform: translate(-100%, -100%);
}
body::before {
  content: "body";
  display: block;
  background: #ccc;
  color: #999;
  padding: 4px;
  position: absolute;
  transform: translate(-100%, -100%);
}
button::before {
  content: "button";
  display: block;
  background: #ccc;
  color: #999;
  padding: 4px;
  position: absolute;
  transform: translate(-100%, -100%);
}
canvas::before {
  content: "canvas";
  display: block;
  background: #ccc;
  color: #999;
  padding: 4px;
  position: absolute;
  transform: translate(-100%, -100%);
}
caption::before {
  content: "caption";
  display: block;
  background: #ccc;
  color: #999;
  padding: 4px;
  position: absolute;
  transform: translate(-100%, -100%);
}
center::before {
  content: "center";
  display: block;
  background: #ccc;
  color: #999;
  padding: 4px;
  position: absolute;
  transform: translate(-100%, -100%);
}
cite::before {
  content: "cite";
  display: block;
  background: #ccc;
  color: #999;
  padding: 4px;
  position: absolute;
  transform: translate(-100%, -100%);
}
dd::before {
  content: "dd";
  display: block;
  background: #ccc;
  color: #999;
  padding: 4px;
  position: absolute;
  transform: translate(-100%, -100%);
}
del::before {
  content: "del";
  display: block;
  background: #ccc;
  color: #999;
  padding: 4px;
  position: absolute;
  transform: translate(-100%, -100%);
}
details::before {
  content: "details";
  display: block;
  background: #ccc;
  color: #999;
  padding: 4px;
  position: absolute;
  transform: translate(-100%, -100%);
}
dfn::before {
  content: "dfn";
  display: block;
  background: #ccc;
  color: #999;
  padding: 4px;
  position: absolute;
  transform: translate(-100%, -100%);
}
dl::before {
  content: "dl";
  display: block;
  background: #ccc;
  color: #999;
  padding: 4px;
  position: absolute;
  transform: translate(-100%, -100%);
}
dt::before {
  content: "dt";
  display: block;
  background: #ccc;
  color: #999;
  padding: 4px;
  position: absolute;
  transform: translate(-100%, -100%);
}
embed::before {
  content: "embed";
  display: block;
  background: #ccc;
  color: #999;
  padding: 4px;
  position: absolute;
  transform: translate(-100%, -100%);
}
fieldset::before {
  content: "fieldset";
  display: block;
  background: #ccc;
  color: #999;
  padding: 4px;
  position: absolute;
  transform: translate(-100%, -100%);
}
figcaption::before {
  content: "figcaption";
  display: block;
  background: #ccc;
  color: #999;
  padding: 4px;
  position: absolute;
  transform: translate(-100%, -100%);
}
figure::before {
  content: "figure";
  display: block;
  background: #ccc;
  color: #999;
  padding: 4px;
  position: absolute;
  transform: translate(-100%, -100%);
}
footer::before {
  content: "footer";
  display: block;
  background: #ccc;
  color: #999;
  padding: 4px;
  position: absolute;
  transform: translate(-100%, -100%);
}
form::before {
  content: "form";
  display: block;
  background: #ccc;
  color: #999;
  padding: 4px;
  position: absolute;
  transform: translate(-100%, -100%);
}
header::before {
  content: "header";
  display: block;
  background: #ccc;
  color: #999;
  padding: 4px;
  position: absolute;
  transform: translate(-100%, -100%);
}
hgroup::before {
  content: "hgroup";
  display: block;
  background: #ccc;
  color: #999;
  padding: 4px;
  position: absolute;
  transform: translate(-100%, -100%);
}
html::before {
  content: "html";
  display: block;
  background: #ccc;
  color: #999;
  padding: 4px;
  position: absolute;
  transform: translate(-100%, -100%);
}
i::before {
  content: "i";
  display: block;
  background: #ccc;
  color: #999;
  padding: 4px;
  position: absolute;
  transform: translate(-100%, -100%);
}
iframe::before {
  content: "iframe";
  display: block;
  background: #ccc;
  color: #999;
  padding: 4px;
  position: absolute;
  transform: translate(-100%, -100%);
}
img::before {
  content: "img";
  display: block;
  background: #ccc;
  color: #999;
  padding: 4px;
  position: absolute;
  transform: translate(-100%, -100%);
}
ins::before {
  content: "ins";
  display: block;
  background: #ccc;
  color: #999;
  padding: 4px;
  position: absolute;
  transform: translate(-100%, -100%);
}
kbd::before {
  content: "kbd";
  display: block;
  background: #ccc;
  color: #999;
  padding: 4px;
  position: absolute;
  transform: translate(-100%, -100%);
}
label::before {
  content: "label";
  display: block;
  background: #ccc;
  color: #999;
  padding: 4px;
  position: absolute;
  transform: translate(-100%, -100%);
}
legend::before {
  content: "legend";
  display: block;
  background: #ccc;
  color: #999;
  padding: 4px;
  position: absolute;
  transform: translate(-100%, -100%);
}
mark::before {
  content: "mark";
  display: block;
  background: #ccc;
  color: #999;
  padding: 4px;
  position: absolute;
  transform: translate(-100%, -100%);
}
menu::before {
  content: "menu";
  display: block;
  background: #ccc;
  color: #999;
  padding: 4px;
  position: absolute;
  transform: translate(-100%, -100%);
}
nav::before {
  content: "nav";
  display: block;
  background: #ccc;
  color: #999;
  padding: 4px;
  position: absolute;
  transform: translate(-100%, -100%);
}
object::before {
  content: "object";
  display: block;
  background: #ccc;
  color: #999;
  padding: 4px;
  position: absolute;
  transform: translate(-100%, -100%);
}
output::before {
  content: "output";
  display: block;
  background: #ccc;
  color: #999;
  padding: 4px;
  position: absolute;
  transform: translate(-100%, -100%);
}
q::before {
  content: "q";
  display: block;
  background: #ccc;
  color: #999;
  padding: 4px;
  position: absolute;
  transform: translate(-100%, -100%);
}
ruby::before {
  content: "ruby";
  display: block;
  background: #ccc;
  color: #999;
  padding: 4px;
  position: absolute;
  transform: translate(-100%, -100%);
}
s::before {
  content: "s";
  display: block;
  background: #ccc;
  color: #999;
  padding: 4px;
  position: absolute;
  transform: translate(-100%, -100%);
}
samp::before {
  content: "samp";
  display: block;
  background: #ccc;
  color: #999;
  padding: 4px;
  position: absolute;
  transform: translate(-100%, -100%);
}
small::before {
  content: "small";
  display: block;
  background: #ccc;
  color: #999;
  padding: 4px;
  position: absolute;
  transform: translate(-100%, -100%);
}
span::before {
  content: "span";
  display: block;
  background: #ccc;
  color: #999;
  padding: 4px;
  position: absolute;
  transform: translate(-100%, -100%);
}
strike::before {
  content: "strike";
  display: block;
  background: #ccc;
  color: #999;
  padding: 4px;
  position: absolute;
  transform: translate(-100%, -100%);
}
sub::before {
  content: "sub";
  display: block;
  background: #ccc;
  color: #999;
  padding: 4px;
  position: absolute;
  transform: translate(-100%, -100%);
}
summary::before {
  content: "summary";
  display: block;
  background: #ccc;
  color: #999;
  padding: 4px;
  position: absolute;
  transform: translate(-100%, -100%);
}
sup::before {
  content: "sup";
  display: block;
  background: #ccc;
  color: #999;
  padding: 4px;
  position: absolute;
  transform: translate(-100%, -100%);
}
tt::before {
  content: "tt";
  display: block;
  background: #ccc;
  color: #999;
  padding: 4px;
  position: absolute;
  transform: translate(-100%, -100%);
}
u::before {
  content: "u";
  display: block;
  background: #ccc;
  color: #999;
  padding: 4px;
  position: absolute;
  transform: translate(-100%, -100%);
}
var::before {
  content: "var";
  display: block;
  background: #ccc;
  color: #999;
  padding: 4px;
  position: absolute;
  transform: translate(-100%, -100%);
}
video::before {
  content: "video";
  display: block;
  background: #ccc;
  color: #999;
  padding: 4px;
  position: absolute;
  transform: translate(-100%, -100%);
}
aside::before {
  content: "aside";
  display: block;
  background: #ccc;
  color: #999;
  padding: 4px;
  position: absolute;
  transform: translate(-100%, -100%);
}
details::before {
  content: "details";
  display: block;
  background: #ccc;
  color: #999;
  padding: 4px;
  position: absolute;
  transform: translate(-100%, -100%);
}
figcaption::before {
  content: "figcaption";
  display: block;
  background: #ccc;
  color: #999;
  padding: 4px;
  position: absolute;
  transform: translate(-100%, -100%);
}
figure::before {
  content: "figure";
  display: block;
  background: #ccc;
  color: #999;
  padding: 4px;
  position: absolute;
  transform: translate(-100%, -100%);
}
footer::before {
  content: "footer";
  display: block;
  background: #ccc;
  color: #999;
  padding: 4px;
  position: absolute;
  transform: translate(-100%, -100%);
}
header::before {
  content: "header";
  display: block;
  background: #ccc;
  color: #999;
  padding: 4px;
  position: absolute;
  transform: translate(-100%, -100%);
}
hgroup::before {
  content: "hgroup";
  display: block;
  background: #ccc;
  color: #999;
  padding: 4px;
  position: absolute;
  transform: translate(-100%, -100%);
}
menu::before {
  content: "menu";
  display: block;
  background: #ccc;
  color: #999;
  padding: 4px;
  position: absolute;
  transform: translate(-100%, -100%);
}
nav::before {
  content: "nav";
  display: block;
  background: #ccc;
  color: #999;
  padding: 4px;
  position: absolute;
  transform: translate(-100%, -100%);
}
input::before {
  content: "input";
  display: block;
  background: #ccc;
  color: #999;
  padding: 4px;
  position: absolute;
  transform: translate(-100%, -100%);
}
textarea::before {
  content: "textarea";
  display: block;
  background: #ccc;
  color: #999;
  padding: 4px;
  position: absolute;
  transform: translate(-100%, -100%);
}
svg::before {
  content: "svg";
  display: block;
  background: #ccc;
  color: #999;
  padding: 4px;
  position: absolute;
  transform: translate(-100%, -100%);
}

*:hover::before {
  z-index: 9999;
  background: #999;
  color: #000;
}
