article {
  font-family: "Literata Safe", serif;
}
@supports (font-variation-settings: normal) {
  article {
    font-family: "Literata", serif;
  }
}

.p {
  padding: 16px 16px 0;

  &::after {
    content: "";
    display: block;
    margin: 16px 0 0;
  }
}
.p-all {
  padding: 16px;
}

.m {
  margin: 0 0 16px;
}

.m-sm {
  margin: 0 0 12px;
}

.b {
  font-weight: bold;
  font-variation-settings: "wght" 700;
}

.hr {
  border: solid #ccc;
  border-width: 2px 0 0;
}

.border {
  border: 2px solid #ccc;
}

.link {
  color: #666;
  text-decoration: none;
  transition: color 0.2s ease;

  &:hover {
    color: #000;
    text-decoration: none;
  }
}

.h1 {
  font-size: 2.5em;
  line-height: 1.3;
}
.h2 {
  font-size: 1.75em;
  line-height: 1.3;
}
.h3 {
  font-size: 1.25em;
  line-height: 1.3;
}
.h4 {
  font-size: 1.15em;
  line-height: 1.3;
}
.h5 {
  font-size: 1em;
  line-height: 1.3;
}
.h6 {
  font-size: 1em;
  line-height: 1.3;
}
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  text-decoration: underline;
  text-decoration-color: #ccc;
  text-decoration-width: 2px;
  @extend .b;
}
.ul,
.ol {
  padding-left: 32px;
  position: relative;

  > li::before {
    position: absolute;
    left: 0;
  }
}

.ul > li::before {
  content: "★";
}
.ol > li {
  counter-increment: step-counter;
}
.ol > li::before {
  @extend .b;

  content: counter(step-counter) "";
  display: inline-block;
  background: #000;
  color: #fff;
  text-align: center;
  padding: 0 6px;
  font-variant-numeric: tabular-nums;

  box-shadow: 0 -2px 0 #000, 0 2px 0 #000;
}

li > .ol:first-child,
li > .ul:first-child {
  padding-top: 12px;
}

.code {
  font-family: "FantasqueSansMono", monospace;
}

.h-scroll {
  display: inline-flex;
  position: relative;
  max-width: 100%;

  &::before,
  &::after {
    content: "";
    display: block;
    position: absolute;
    z-index: 99;
    top: 0;
    width: 16px;
    height: calc(100% - 16px);
  }

  &::before {
    left: 0;
    background: linear-gradient(to right, #fff, transparent);
  }

  &::after {
    right: 0;
    background: linear-gradient(to left, #fff, transparent);
  }
}

.h-scroll-inner {
  flex: 0 0 auto;
  display: inline-flex;
  max-width: 100%;
  overflow-x: auto;
}

.table {
  flex: 0 0 auto;

  border-collapse: collapse;
  font-variant-numeric: tabular-nums;

  tr {
    border-bottom: 2px solid #ccc;
  }

  th {
    @extend .b;
    color: #333;
    font-size: 0.8em;
  }

  td {
    font-size: 0.9em;
  }

  td:nth-child(n + 2),
  th:nth-child(n + 2) {
    padding-left: 16px;
  }
}
