---
import Layout from "src/components/layout.astro";
import Header from "src/components/header.astro";

let portfolios = [];
try {
  portfolios = await Astro.glob("../../../data/portfolio/*.md");
} catch {}
portfolios = portfolios.map((portfolio) => {
  return {
    ...portfolio.frontmatter,
    uid: portfolio.file.split("/").at(-1).slice(0, -3),
  };
});
---

<Layout pageTitle="portfolio of tom" maxWidth={550}>
  <Header actualPath="portfolio/edit" />

  <ul style="list-style:none;padding:0">
    <li style="margin-bottom:1.5em">
      <p style="text-align:center">
        <button onclick="addNewItem(event)">add new item</button>
      </p>
    </li>
    {portfolios.map(({ slug, flex }) => {
      return (
        <li>
          <p style="text-align:center">
            {flex} &middot;&nbsp;<a href={`./${slug}/edit`}>edit</a>
          </p>
        </li>
      )
    })}
  </ul>
  <script>
    globalThis.addNewItem = (event) => {
      event.target.textContent = "loading...";
      event.target.setAttribute("disabled", "");
      globalThis
        .plz("/portfolio/new", {})
        .then((response) => {
          return response.json();
        })
        .then((data) => {
          if (data.uid) {
            globalThis.location.href = "./" + data.uid + "/edit";
          }
        })
        .catch((error) => {
          console.error(error);
        });
    };
  </script>
</Layout>
